// Сброс базовых стилей

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;//корректный подсчёт ширины элементов
}

ul, ol {
  list-style: none; // маркеры списков
}

a {
  text-decoration: none; //подчёркивания ссылок
  color: inherit; // наследуем цвет, чтобы ссылки были в общей стилистике
}

img {
  max-width: 100%; // делаем изображения адаптивными
}