.page {
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'content'
    'sidebar';

  min-height: 100vh;
}

@media (min-width: 768px) {
  .page {
    grid-template-columns: 30rem 1fr;
    grid-template-areas: 'sidebar content';
  }
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  padding: 2rem;
}
