.about {
  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__subtitle {
    text-align: center;
    max-width: 50rem;
    margin: 0 auto 2rem;
    color: #e0e0e0;
    line-height: 1.6;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
      width: 50%;
      border-radius: 1rem;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 700;
    color: $accent;
  }

  &__role {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
  }

  &__text {
    color: #e0e0e0;
    line-height: 1.6;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  &__btn {
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }

  &__btn--yellow {
    @extend .about__btn;
    background: $accent;
    color: #000;
    border: none;
  }

  &__btn--outline {
    @extend .about__btn;
    background: transparent;
    border: 0.125rem solid $accent;
    color: $accent;
  }
}

.stack {
  margin-top: 2rem;

  &__title {
    color: $accent;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

@media (min-width: 768px) {
  .about {
    &__subtitle {
      font-size: 1.3rem;
    }

    &__wrapper {
      align-items: center;
    }

    &__photo {
      max-width: 40rem;
    }

    &__name {
      font-size: 2rem;
    }

    &__role {
      font-size: 1.3rem;
    }

    &__text {
      font-size: 1.2rem;
    }

    &__btn {
      font-size: 1.2rem;
    }
  }

  .stack {
    &__title {
      font-size: 2rem;
    }

    &__icons {
      img {
        width: 3.43rem;
        height: 3.43rem;
      }
    }
  }
}
