.home {
  min-height: 100vh;
  position: relative;
  background-image: url(/assets/img/me.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba($mask, 0.8);
    z-index: 1;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.3rem;

  p,
  h1,
  h2 {
    position: relative;
    z-index: 2;
    margin: 0;
  }

  p,
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .home {
    p,
    h2 {
      font-size: 2rem;
    }

    h1 {
      font-size: 3.5rem;
    }
  }
}
