.portfolio {
  &__title {
    text-align: center;
    font-size: 2.5rem; 
    margin-bottom: 1rem; 
  }

  &__subtitle {
    text-align: center;
    max-width: 50rem; 
    margin: 0 auto 3rem; 
    line-height: 1.6; 
  }

  &__grid {
    display: grid;
    justify-items: center;
    gap: 1.5rem; 
    grid-template-columns: 1fr;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;

    img {
      width: 100%;
      max-width: 25rem; 
      border-radius: inherit;
      object-fit: cover;
      display: block;
      transition: transform 0.4s ease;
    }

    &:hover img {
      transform: scale(1.08);
    }

    &:hover .portfolio__hover-text {
      opacity: 1;
    }
  }

  &__hover-text {
    position: absolute;
    inset: 0; // top:0; right:0; bottom:0; left:0;
    display: flex;
    justify-content: center;
    align-items: center;
  

   background: rgba(0, 0, 0, 0.75);
    color: #fff;

    font-size: 1.2rem; 
    letter-spacing: 0.06rem; 

    opacity: 0;
    transition: opacity 0.3s ease;
  }
}


@media (min-width: 768px) { 
  .portfolio {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem; 
    }

    &__title {
      font-size: 3.5rem; 
    }

    &__subtitle {
      font-size: 1.2rem; 
    }

    &__item {
      width: 100%;
      max-width: 25rem; 
    }
  }
}
